Flask
flask-cors
flask-socketio
opencv-python
numpy
deepface
pandas
scikit-learn
nltk
scipy
pymongo
Flask-PyMongo
SpeechRecognition
pydub
google-generativeai
groclake
sendgrid
twilio
pycryptodome
mediapipe